@* @* @using BlazorApp2.Utilities *@
@* @using BlazorApp2.Services
@using BlazorApp2.Models
@inject UserSession UserSession
@inject RoomService RoomService
@inject RoombookingService RoombookingService
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager *@


@page "/account"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h3>Account</h3>


@* <button @onclick="ShowUserId">Show User ID</button> *@

@code {

}