@page "/login"
@using BlazorApp2.Models
@using BlazorApp2.Utilities
@using BlazorApp2.Services
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager
@inject UserSession UserSession


@rendermode InteractiveServer

<h3>Log In</h3>

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="newCustomer.Username" style="border:2px outset #000000;"/>
        
    </div>

    <div>
        <br />
        <label >Password:</label>
        <InputText @bind-Value="password" type="password" style="border:2px outset #000000;" />
    </div>

    <button type="submit" style="background-color:#6CA62C; color: white; border:1px solid #000000; text-align: center; ">   Login   </button>

</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;

    #region Hidden
    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId != 0)
        {
            NavigationManager.NavigateTo("/account");
        }
    }
    #endregion

    private async Task HandleValidSubmit()
    {
        newCustomer.Password = PasswordUtils.HashPassword(password);
        newCustomer = await CustomerService.LogIn(newCustomer);
        if (newCustomer == null)
        {
            Console.WriteLine("could not log in");
        }
        else
        {
            UserSession.UserId = newCustomer.CustomerId;
            NavigationManager.NavigateTo("/account");
        }
    }
}



