@using BlazorApp2.Utilities
@using BlazorApp2.Services
@inject UserSession UserSession
@inject CustomerService CustomerService


@rendermode InteractiveServer
@page "/modify"

<h3>ModifyAccount</h3>


<p>New password:</p>
<input @bind-value=@newPassword style="border:2px outset #000000;" />
<p>Old password:</p>
<input @bind-value=@oldPassword style="border:2px outset #000000;" />
<p>Confirm new password:</p>
<input @bind-value=@newPasswordConfirm style="border:2px outset #000000;" />
<button onclick=@ChangePassword style="background-color:#6CA62C; color: white; border:1px solid #000000;">Change Password</button>

@code {
    private string newPassword;
    private string oldPassword;
    private string newPasswordConfirm;
    private async Task ChangePassword()
    {
        if (oldPassword == newPasswordConfirm)
        {
            string hashedNewPassword = PasswordUtils.HashPassword(newPassword);
            string hashedOldPassword = PasswordUtils.HashPassword(oldPassword);
            await CustomerService.ChangePassword(UserSession.UserId, hashedOldPassword, hashedNewPassword);
        }
    }
}