@page "/register"
@using BlazorApp2.Models
@using BlazorApp2.Services
@inject CustomerService CustomerService
@rendermode InteractiveServer

@using BlazorApp2.Utilities
@inject NavigationManager NavigationManager
@inject UserSession UserSession

<h3>Register New User</h3>


<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FormName="testForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="newCustomer.Username" style="border:2px outset #000000;" />
    </div>

    <div>
        <label>Password:</label>
        <InputText @bind-Value="password" type="password" style="border:2px outset #000000;" />
    </div>

    <div>
        <label>First Name:</label>
        <InputText @bind-Value="newCustomer.FirstName" style="border:2px outset #000000;" />
    </div>

    <div>
        <label>Last Name:</label>
        <InputText @bind-Value="newCustomer.LastName" style="border:2px outset #000000;" />
    </div>

    <div>
        <label>Email Address:</label>
        <InputText @bind-Value="newCustomer.Email" style="border:2px outset #000000;" />
    </div>
    <div>
        <label style="color:red">@message</label>
    </div>
    <button type="submit" style="background-color:#6CA62C; color: white; border:1px solid #000000; text-align: center;">Register</button>
</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId != 0)
        {
            NavigationManager.NavigateTo("/account");
        }
    }

    private async Task HandleValidSubmit()
    {
        bool usernameTaken = await CustomerService.CheckUsernameExistsAsync(newCustomer.Username);
        bool passwordValid = await PasswordUtils.ValidPassword(password);
        if (usernameTaken)
        {
            Console.WriteLine("username taken");
            message = "username taken";
        }
        else if (!passwordValid)
        {
            message = "password does not meet criteria";
        }
        else
        {
            // Hash the password using SHA256
            newCustomer.Password = PasswordUtils.HashPassword(password);

            // Insert the user into the database
            await CustomerService.AddCustomerAsync(newCustomer);
            newCustomer = new Customer();
            password = "";
            NavigationManager.NavigateTo("");
        }
    }
}

