.layout-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    height: 100vh;
}

.nav-menu {
    width: 100%; /* Full width for horizontal nav */
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center; /* Center the nav links */
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.nav-menu-container img {
    width: auto;
    max-height: 50px; /* Adjust the max height as needed */
}
